{% extends 'base.html' %}
{% block "content" %}
<h1>Mapping result</h1>
<h2>Summary</h2>
<table class="table table-striped">
    <tr>
        <td>Total</td>
        <td>{{ result.total }}</td>
    </tr>
    <tr>
        <td>imported</td>
        <td>{{ result.imported }}</td>
    </tr>
    <tr>
        <td>errors</td>
        <td>{{ result.errors_nb }}</td>
    </tr>
</table>
<table>
    {% for line, errors in errors %}
    <tr>
        <td>{{ line }}</td>
        <td>{{ errors }}</td>
    </tr>
    {% endfor%}
</table>

{% if result.errors_nb > 0 %}
<h2>Errors details</h2>  
<table class="table table-striped">
    {% for error in result.errors %}
    <thead>
        <th>Line</th>
        <th>Data</th>
        <th>Error description</th>
    </thead>
    <tr>
        <td>{{ error.0.0 }}</td>
        <td>{{ error.0.1 }}</td>
        <td>
            {% for error_txt in error.1 %}
            <p>{{ error_txt }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
